<table class="calendar">
  <caption>
    <%= link_to '<<', :year => @display_date.prev_month.year, :month => @display_date.prev_month.month %>
    <span><%= @display_date.year %>年<%= @display_date.month %>月</span>
    <%= link_to '>>', :year => @display_date.next_month.year, :month => @display_date.next_month.month %>
  </caption>
  <tr>
    <% 7.times do |i| %>
      <th><%= day_of_week(i) %></th>
    <% end %>
  </tr>
  
  <% if @display_date.beginning_of_month.wday != 0 %>
    <tr>
      <% @display_date.beginning_of_month.wday.times do |i| %>
        <% date = (@display_date - (@display_date.wday - i).days) %>
        <td>
          <div class="day <%= date_classes(date) %>">
            <%= date.day %>
          </div>
          <div class="content <%= date_classes(date) %>">
            <%= holiday(date) %>
          </div>
        </td>
      <% end %>
  <% end %>
  
  <% @display_date.end_of_month.day.times do |i| %>
    <% date = @display_date + i.days %>
    <% if date.wday == 0 %>
      <tr>
    <% end %>
    
    <td>
      <div class="day <%= date_classes(date) %>">
        <%= date.day %>
      </div>
      <div class="content <%= date_classes(date) %>">
        <%= holiday(date) %>
      </div>
    </td>
    
    <% if date.wday == 6 %>
      </tr>
    <% end %>
  <% end %>

  <% if @display_date.end_of_month.wday != 6 %>
      <% (6 - @display_date.end_of_month.wday).times do |i| %>
        <% date = @display_date.end_of_month + (i + 1).days %>
        <td>
          <div class="day <%= date_classes(date) %>">
            <%= i + 1 %>
          </div>
          <div class="content <%= date_classes(date) %>">
            <%= holiday(date) %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>